{% extends "base.html" %}
{% block content %}
<h2>Hurricane Irma</h2>
<h3>Hurricane Debris Removal Update</h3>
<p>The City of Oviedo’s Heavy Debris Contractor continues to work in Zone 1(NW Side of Town) with added equipment in the Garden Grove area. Additionally, City crews will continue assisting the contractor in Zone 1; a second crew will clear areas in the southern part of town and a third Recreation and Parks Crew will begin fence recovery. Finally, Republic Services will begin expanded clearing operations in the city’s gated communities. <o:p></o:p></p>
<p>Please know, your city government continues to seek fiscally responsible ways to increase the rate of debris clearing. If you would like to track the debris progress, <a href="http://oviedo.maps.arcgis.com/apps/webappviewer/index.html?id=91ac3e13ed934ce1b1367bdf312f24f4">please check out the city’s interactive map</a>. Thank you again for your patience.<br>
&nbsp;</p>
<div>Want more detail?&nbsp;<a href="http://oviedo.maps.arcgis.com/apps/webappviewer/index.html?id=91ac3e13ed934ce1b1367bdf312f24f4"><strong>Access the city's new interactive map.</strong></a><strong>&nbsp;</strong></div>
<div><img src="/static/hurricane_map_update.jpg" width="100%" alt="Hurricane Debris Map"></div>
<p>Please review the City's&nbsp;<strong><a href="http://cityofoviedo.net/files/file/FD%20Debris%20Removal%20Guidelines%208_30_17.pdf" target="_blank">Debris Removal Guidelines</a></strong>.</p>
<h3>Solid Waste Update</h3>
<p>Republic Services, Oviedo's regular household waste, recycling, bulk, and yard trash carrier, will continue their service alongside the heavy debris contractor. &nbsp;All bulk, yard and household routes are caught up from storm delays. &nbsp;&nbsp;</p>
<p>Please do not place yard waste in garbage carts or recycling carts. &nbsp;Yard waste cannot be co-mingled with garbage and recycling, as the landfill requires vegetative material to be separated and the recycling facility does not accept yard waste.</p>
<p>Yard waste should only be placed in garbage bags or store bought containers and will only be picked up by the yard waste collection truck. &nbsp;</p>
<h3>Citizen Debris Drop off Information&nbsp;</h3>
<p class="MsoNormal">The City of Oviedo has opened a residential debris drop-off site at the Evans Street Public Works Complex. Hours of operation are 8am to 4pm daily (including Saturday and Sunday) until otherwise notified.&nbsp;</p>
<p class="MsoNormal">This drop-off location is for individuals who reside within city limits of Oviedo, and residents will have to show identification prior to dropping debris. The nearest County drop-offs for unincorporated Oviedo residents are 4350 Bedford Road, Sanford, FL 32773 and 3540 Dike Road Winter Park, FL 32792.&nbsp;</p>
<p class="MsoNormal">The site will only accept vegetative debris, and residents are expected to unload their own debris and should bring all appropriate gear with them.&nbsp;</p>
<img src="/static/drop_off_map.jpg" width="100%" alt="Storm Debris Drop-off" style="color: rgb(40, 40, 40); font-size: 11px; font-weight: normal;">
<h3>Building Permits</h3>
<p>To facilitate the reconstruction of fences, roofs and screen enclosures in the City due to the passage of hurricane Irma, the City will be waiving building permit fees for fence, roof and screen enclosures for a period of one month starting September 13, 2017. Residents are still required to pull a building permit with Building Services Division.</p>
<h3>Resources</h3>
<ul>
    <li><u><strong><a href="https://www.ready.gov/hurricanes">Hurricane Information</a></strong></u></li>
    <li><a href="/files/file/Contact%20Numbers.pdf" target="_blank"><strong><u>Frequently Called Numbers</u></strong></a></li>
    <li><a href="http://www.cityofoviedo.net/node/1550"><u><strong>What Happens After a Disaster</strong></u></a></li>
    <li><a href="http://cityofoviedo.net/files/file/FD%20Debris%20Removal%20Guidelines%208_30_17.pdf" target="_blank"><u><strong>Debris Removal Guidelines</strong></u></a></li>
</ul>
<h3>Park Amenity Closures</h3>
<ul>
    <li>Round Lake Park Boardwalk&nbsp;&nbsp;</li>
</ul>
<h2>Election Information - November 7, 2017</h2>

<div style="text-align:center">
<h3>CITY OF OVIEDO</h3>
<p><b>OFFICIAL NOTICE</b></p>
<p>The City of Oviedo, Florida will hold a General Election on Tuesday, November 7, 2017 for: <br/>
<strong>Mayor and City Council Group I </strong><br/><br/>
For additional information contact: <br/>
Barbara J. Barbour, MMC <br/>
City Clerk <br/>
(407) 971-5500 <br/>
<a href="mailto:bbarbour@cityofoviedo.net">bbarbour@cityofoviedo.net</a> 
</p></div>
<p>Mail ballots for this election are available through the Seminole County Supervisor of Elections Office by calling 407-585-VOTE (8683) or online at www.voteseminole.org. <b>Early Voting</b> will be held at Oviedo City Hall, 400 Alexandria Boulevard, Oviedo, FL and in Sanford, Florida at the Office of the Supervisor of Elections on Saturday, November 4, 2017 from 10:00 a.m. to 6:00 p.m.</p>
<p>Election day polls will open at 7:00 a.m. and close at 7:00 p.m. <b>Polling locations for this election only</b> are as follows:</p>
<b>Precinct Numbers 70, 72, 76 will vote at: </b><br/>
Live Oak Reserve Community Center 1901 Live Oak Reserve Blvd, Oviedo, FL <br/>
<b>Precinct Numbers 74, 75, 80 will vote at: </b><br/>
Riverside Park, 1600 Lockwood Blvd, Oviedo, FL <br/>
<b>Precinct Numbers 68, 69, 71, 78 will vote at: </b><br/>
Oviedo City Hall, 400 Alexandria Blvd, Oviedo, FL <br/>

<h3>Seminole County Canvassing Board Notice for City of Oviedo Election</h3>
The Seminole County Canvassing Board will canvass the City of Oviedo Election and meet at the Supervisor of Elections Office, 1500 E. Airport Blvd, Sanford, FL as follows: 
<ul>
<li>October 27 at 10 a.m. for Logic and Accuracy Testing</li>
<li>November 3 at 10 a.m. for canvassing of mail ballots</li>
<li>November 6 at 4 p.m. for canvassing of mail ballots</li>
<li>November 7 at 5 p.m. for Election Day canvassing and certification of initial results</li>
<li>November 9 at 5 p.m. for canvassing of provisional ballots, certification of official results and the manual audit criteria</li>
<li>November 13 at 10 a.m. for the conduct of the manual audit </li>
</ul>
<p><strong><span style="font-size: 12pt;"><a href="http://cityofoviedo.net/files/file/sample%20ballot.pdf" target="_blank">View a Sample Ballot</a></span></strong></p>
{% endblock %}